@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer components {
  .bg-overlay-gradient {
    @apply before:content-[""] before:bg-gradient-to-l from-black to-transparent before:opacity-80 before:absolute before:top-0 before:left-0 before:w-full before:h-full;
  }

   .bg-overlay-light {
    @apply before:content-[""] before:bg-purple-100 before:opacity-10 before:absolute before:top-0 before:left-0 before:w-full before:h-full;
  }

  .bg-glass {
    @apply bg-gradient-to-r from-[#ffffff1] to-[#ffffff0] backdrop-blur-md shadow-lg border-[1px] border-white/10;
  }
}
