@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

@layer components {
  .max-width {
    @apply max-w-[1700px] mx-auto my-0;
  }

  .bg-overlay-gradient {
    @apply before:content-[""] before:bg-gradient-to-l from-red-600/40 to-transparent before:absolute before:top-0 before:left-0 before:w-full before:h-full;
  }

  .bg-overlay-light {
    @apply before:content-[""] before:bg-purple-100 before:opacity-10 before:absolute before:top-0 before:left-0 before:w-full before:h-full;
  }

  .bg-glass {
    @apply bg-gradient-to-r from-[#ffffff1] to-[#ffffff0] backdrop-blur-md shadow-lg border-[1px] border-white/10;
  }

  .bg-glass-lighter {
    @apply bg-gradient-to-r from-[#ffffff1] to-[#ffffff0] backdrop-blur-sm shadow-lg border-[1px] border-white/10;
  }

  .input-field {
    @apply bg-red-50 w-full border-2 border-pink-200 py-3 pl-2 placeholder:text-sm appearance-none rounded-none focus:border-pink-400 focus:outline-none focus:rounded-none shadow-[inset_0_0_2px_1px_#fbcfe8];
  }

  .input-error {
    @apply absolute top-full left-0 text-xs text-red-400 bg-white px-2;
  }

  .text-gradient-animated-purple {
    @apply bg-gradient-to-r from-violet-600 from-10% via-violet-950 via-40% to-violet-600 to-90% text-transparent bg-clip-text bg-[length:400%_10px] animate-moveBg;
  }

  .text-gradient-animated-red {
    @apply bg-gradient-to-r from-red-600 from-10% via-red-300 via-40% to-red-600 to-90% text-transparent bg-clip-text bg-[length:400%_10px] animate-moveBg;
  }

  .text-gradient-animated-red1 {
    @apply bg-gradient-to-r from-slate-700 from-10% via-slate-500 via-40% to-slate-700 to-90% text-transparent bg-clip-text bg-[length:200%_10px] animate-moveBg1;
  }
}

@layer utilities {
  .clip-bg-brows-1 {
    clip-path: polygon(0 85%, 100% 7%, 100% 100%, 0% 100%);
  }

  .clip-bg-brows-2 {
    clip-path: polygon(0 37%, 100% 0, 100% 100%, 0% 100%);
  }
}
